
*
{
    margin :  10 ;
    padding :  0 ;
}

#textomenu{
    color: white;
}

#tickets {
    color: rgba(69,131,85,255);
    font-weight: 600;
}

.col-lg-6 {
    font-size: 20px;
    text-shadow: black;
}

.ellos {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.steve {
    margin-left: 250px;
    margin-right: 10px;
    width: 25rem; 
    border: 1px solid rgba(0,0,0,.125);
}

.bill {
    margin-right: 50px;
    width: 25rem; 
    border: 1px solid rgba(0,0,0,.125);
}

.ada {
    width: 25rem; 
    border: 1px solid rgba(0,0,0,.125);
}

.container {
    padding-left: 0%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

#cuerpo{
    width: 100%; 
    height: 100%;
    background-color: rgb(53,58,64,255);
    color:  white;
    margin: center;
    
}    

.titulo {
    margin-left: 350px; 
    margin-top: 5px; 
    color: rgba(154,151,158,255)
}

.nombre {
    margin-left: 350px
}

.apellido {
    margin-right: 350px;
}

.form-floating {
    margin-left: 350px; 
    margin-right: 350px;
    align-content: center;
}

.enviar {
    margin-left: 400px;
    width: 50%; 
    background-color: rgb(124, 221, 26);
    margin-bottom: 30px;
}

.footer {
    
    background: linear-gradient(70deg, rgba(26,54,68,255), rgba(27,82,113,255));
    display: flex;
    color:white;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 18px;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    margin: bottom 5px;;

}

